
.banner{
    float: left;
    height: 133px;
    background: #0E1213;
    width: 100%;
}
.banner img{
  
}
.cabecalho{
    text-align: center;
    color: white;
    float: right;
    width: 70%;
    margin-top: 50px;
}
h1.cabecalho{
    font-size: 22px;
}

